body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(39, 44, 53), rgb(12, 14, 18));
    color: rgb(112, 112, 112);
}

.sub-titulo-h3{
    font-size: 1.7rem;
    margin-top: 1rem;
}





.barra{
    position: relative;
    width: 100.7%;
    height: 4.375rem;
    background-color: rgb(12, 14, 18);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    margin-top: -0.4375rem;
    margin-left: -0.4375rem;
}

.barra-sombra{
    position: absolute;
    width: 99.8%;
    height: 4.5rem;
    margin-top: -4.375rem;
    margin-left: -0.5rem;
    z-index: 90;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(13, 70, 223));
}

.barra__centro{
    align-items: center;
}

.barra-derecha__perfil{
    padding: 0.9rem;
}

.perfil__img{
    align-items: center;
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 50% ;
    object-fit: cover;
}

.barra-centro__nombre{
    font-size: 3rem;
}







.cuerpo-contenido__biografia{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-evenly; */
    margin-top: 3rem;
    /* justify-content: space-between;*/
}

.cuerpo-contenido-biografia__contenido{
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    min-width: 500px;
}

.cuerpo-contenido-biografia__forma{
    background-color: rgb(12, 14, 18);
    width: 100%;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 57% 98%, 0% 100%);
    padding: 2rem;
    padding-left: 3vw;
    padding-right: 20vw;
    z-index: 100;
    margin-bottom: 2.3rem;
    margin-left: -8px;
    transition: 1s;
}

.cuerpo-contenido-biografia__forma:hover{
    height: 16.5rem;
    box-shadow:-120px -120px 200px white;
}

.cuerpo-contenido-biografia__sombra{
    position: absolute;
    background-color: rgb(13, 70, 223);
    width: 60.56vw;
    height: 16rem;
    margin-bottom: 2.3rem;
    margin-left: -8px;
    clip-path: polygon(0 0, 100% 0, 57% 100%, 0% 100%);
    z-index: 90;
    min-width: 508px;
    transition: 1s;
}

.cuerpo-contenido-biografia-div__img{
    z-index: 150;   
    object-fit: cover;
    overflow: visible;
    width: 10rem;
    align-items: center;
}

.cuerpo-biografia-biografia__img{
    width: 450px;
    min-width:300px;
    z-index: 150;
    object-fit: cover;
    overflow: visible;
    transition: .5s;
}

.cuerpo-biografia-biografia__img:hover{
    width: 500px;
    
}
.cuerpo-contenido-biografia__forma h3{
    font-size: 1.7rem;
    margin-top: 1rem;
}

.texto-biografia{
    margin-bottom: 1rem;
}









.cuerpo-contenido__formacion{
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5rem;
    justify-content: space-between;
}


.cuerpo-contenido-formacion__contenido{
    display: flex;
    align-items:flex-start;
    justify-content: flex-start;
    width: 60vw;
    min-width: 600px;
}

.cuerpo-contenido-formacion__forma{ 
    background-color: rgb(12, 14, 18);
    width: 100%;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 98%);
    text-align: right;
    padding: 2rem;
    padding-right: 3vw;
    padding-left: 20vw;
    z-index: 100;
    margin-bottom: 2.3rem;
    margin-right: -8px;
    transition: 1s;
}

.cuerpo-contenido-formacion__forma:hover{
    height: 16.5rem;
    box-shadow:-120px -120px 200px white;
}

.cuerpo-contenido-formacion__sombra{
    position: absolute;
    background-color: rgb(13, 70, 223);
    width: 60.56vw;
    height: 16rem;
    margin-bottom: 2.3rem;
    margin-right: -8px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
    z-index: 90;
    min-width: 608px;
}

.cuerpo-contenido-formacion__img{
    height: 15.9rem;
    position: absolute;
    margin-top: -9.1rem;
    margin-left: -10px;
    transition: 3s;
}


.cuerpo-contenido-formacion__img:hover{
    margin-left: -90rem;
}










.cuerpo-contenido__curriculum{
    align-items:flex-end;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.cuerpo-contenido-curriculum__contenido{
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    min-width: 600px;
}

.cuerpo-contenido-curriculum__forma{
    background-color: rgb(12, 14, 18);
    width: 100%;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 57% 98%, 0% 100%);
    padding: 2rem;
    padding-left: 3vw;
    padding-right: 20vw;
    z-index: 100;
    margin-bottom: 2.3rem;
    margin-left: -8px;
    transition: 1s;
}

.cuerpo-contenido-curriculum__forma:hover{
    height: 16.5rem;
    box-shadow:-120px -120px 200px white;
}

.cuerpo-contenido-curriculum__sombra{
    position: absolute;
    background-color: rgb(13, 70, 223);
    width: 60.56vw;
    height: 16rem;
    margin-bottom: 2.3rem;
    margin-left: -8px;
    clip-path: polygon(0 0, 100% 0, 57% 100%, 0% 100%);
    z-index: 90;
    min-width: 608px;
}

.cuerpo-contenido-curriculum-div__img{
    z-index: 150;   
    object-fit: cover;
    overflow: visible;
}

.cuerpo-biografia-curriculum__img{
    width: 450px;
    min-width:300px;
    z-index: 150;
    object-fit: cover;
    overflow: visible;
    transition: .5s;
}

.cuerpo-biografia-curriculum__img:hover{
    width: 500px;
    
}





.cuerpo-contenido__pasatiempo{
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    justify-content: space-between;
}

.cuerpo-contenido-pasatiempo__contenido{
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    min-width: 600px;
}

.cuerpo-contenido-pasatiempo__forma{ 
    background-color: rgb(12, 14, 18);
    width: 100%;
    height: 12rem;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 98%);
    text-align: right;
    padding: 2rem;
    padding-right: 3vw;
    padding-left: 20vw;
    z-index: 100;
    margin-bottom: 2.3rem;
    margin-right: -8px;
    transition: 1s;
}

.cuerpo-contenido-pasatiempo__forma:hover{
    height: 16.5rem;
    box-shadow:-120px -120px 200px white;
}

.cuerpo-contenido-pasatiempo__sombra{
    position: absolute;
    background-color: rgb(13, 70, 223);
    width: 60.56vw;
    height: 16rem;
    margin-bottom: 2.3rem;
    margin-right: -8px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 45% 100%);
    z-index: 90;
    min-width: 608px;
}


.cuerpo-biografia-pasatiempo__img{
    height: 15.9rem;
    position: absolute;
    margin-top: -9.1rem;
    margin-left: -10px;
    transition: 2s;
}


.cuerpo-biografia-pasatiempo__img:hover{
    margin-left: -50rem;
}









.formas-todo{
    margin-bottom: 4rem;
    height: 360px;
    align-items: center;
}

.ver_mas{
    position: relative;
    color:rgb(112, 112, 112);
}

.parrafo{
    font-size: 0.9rem;
}






.pie{
    height: 10rem;
    width: 100.6%;
    background-color: rgb(12, 14, 18);
    margin-bottom: -5px;
    margin-top: 10rem;
    display: flex;
    align-items: center;

}
.pie__contenido{
   display: flex;
   margin-left: 10rem;
   align-items: center;
}

.links{
    margin-left: 7rem;
}

.link-contacto{
    position: relative;
    margin: 10px;
} 

.link-contacto a{
    color:rgb(112, 112, 112);
}
