body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(39, 44, 53), rgb(12, 14, 18));
    color:  rgb(180, 180, 180);;
}





/*CSS de la barra de navegación*/

.barra{
    position: relative;
    width: 100.45%;
    height: 4.375rem;
    background-color: rgb(12, 14, 18);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    margin-top: -0.4375rem;
    margin-left: -0.4375rem;
}

.barra-sombra{
    position: absolute;
    width: 99.8%;
    height: 4.5rem;
    margin-top: -4.375rem;
    margin-left: -0.5rem;
    z-index: 90;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(13, 70, 223));
}


  
  header :any-link {
    text-decoration: none;
  }
  
  header :any-link:hover {
    text-decoration: underline;
  }
  
  
/*Centro*/
.barra__centro{
    position: absolute;
    margin-left: 6rem;
    display: flex;
    align-items: center;
    width: 400px;
    height: 4.375rem;
}

.barra-centro__nombre{
    font-size: 30px;
    margin: 0;
}
.barra-centro__link{
    color: rgb(180, 180, 180);;
}


/*Derecha*/
.barra__opciones{
    height: 4.375rem;
    margin-top: -20px;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.barra__opciones ul li {
    list-style: none;
}

.barra__opciones ul{
    display: flex;
}

.barra__opciones a{
    color: rgb(180, 180, 180);;
    margin-left: 1.5vw;
    font-size: 16px;
}


/*Izquierda*/
.barra__izquierda{
    margin-left: 20px;
    width: 10vw;
}

.perfil__img{
    border: 2px solid rgb(13, 70, 223);
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50% ;
    object-fit: cover;
}




/*Barra de menú para celulares*/

.barra-opciones__principal{
    display: none;
}

.menu-responsive{
    margin-right: 10px;
    margin-top: -40px;
    width: 40px;
    display: none;
    float: right;
}

.checkbtn{
    position: absolute;
    color:  rgb(13, 70, 223);
    font-size: 40px;
    cursor: pointer;
}



/*Aquí se especifica por partes lo que hay en el contenido. Llámese la biografía, Formación, etc.*/




.cuerpo{
    margin: 5rem auto;
    width: 750px;
}


.cuerpo-contenido__cabeza{
    align-items: center;
    height: 10rem; 
}

.cuerpo-contenido-cabeza__h1{
    font-size: 4rem;
    margin: 0;
}

.cuerpo-contenido-cabeza__h2{
    margin:0;
}

.parrafo{
    margin-bottom: 50px;
    line-height: 25px;
}


.cuerpo-contenido-texto__img{
    border-radius: 10px;
    margin-left: 10px;
    width: 370px;
    float: right;

}

.cuerpo-contenido-texto-centro__img{
    border-radius: 10px;
    margin-top: 40px;
    width: 750px;
}


.img-contenido-pasatiempo{
    border-radius: 10px;
}

.img_pie{
    margin-top: 0;
    font-size: 14px;
    margin-bottom: 70px;
}


.link-referencia{
    color:  rgb(13, 70, 223);
}



li{
    margin-top: 20px;
}

.secciones-li{
    margin-top: 70px;
}

.habilidades-tecnicas__div{
    display: flex;
}

.parrafo-x{
    margin-top: 50px;

}

.parrafo3_experiencias{
    display: flex;
    align-items: center;
}


.parrafo3_experiencias h4{
    width: 250px;
}



.img-habilidad{
    margin: 0 20px;
    width: 100px;
}

.habilidades-tecnicas__div{
    width: 100%;
}
.habilidades-tecnicas__div ul{
    flex-wrap: wrap;
    list-style: none;
    display: flex;
}





.pie{
    height: 10rem;
    width: 100.6%;
    background-color: rgb(12, 14, 18);
    margin-bottom: -5px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
}
.pie__contenido{
   display: flex;
   margin-left: 10rem;
   align-items: center;
}

.links{
    margin-left: 7rem;
}

.link-contacto{
    position: relative;
    margin: 10px;
} 

.link-contacto a{
    color: rgb(180, 180, 180);
}















/*
/* Responsive de la página principal, pero solo de los elementos en el contenido.
/* Mas para abajo se arregla el menú y otras pantallas más pequeñas
*/

/*
/* Se elimina el icono del perfil
*/

@media screen and (max-width: 1000px) { 
    .barra__izquierda{
        visibility: hidden;
    }

    .barra__centro{
        margin-left: 20px;
    }
}




/*
/* Responsive del menú. Aún sujeta a cambios para pantallas más pequeñas
*/


@media screen and (max-width: 900px) { 

    header{
        top: 0;
        position: fixed;
        z-index: 500;

    }

    .barra{
        width: 100vw;
        top: 0.45rem;
        right: 0.2rem;
    }

    .barra-sombra{
        right: 0;
        top: 4.36rem;
    }
    
    .barra__centro{
        margin-left: 90px;
    }
    .barra__izquierda{
        visibility: visible;
    }


    .cuerpo-contenido__cabeza{
        margin-top: 10rem;
    }



    /*Menú desplegable*/

    .barra__opciones{
        margin-right: -670px;
        width: 130px;
        z-index: 500;
    }

    .barra-opciones__principal{
        display: inline;
    }

    .barra__opciones ul{
        display: block;
        align-items: flex-end;
        position: fixed;
        top: 3.5rem;
        height: 200vh;
        width: 100vw;
        padding-top: 35px;
        background-color: rgb(12, 14, 18);
        text-align: right;
        transition: all .5s ease-out;

        margin-right: 200vw;
    }

    .barra__opciones ul li{
        margin-right: 40px;
        display: block;
        padding: 15px 0;
        padding-right: 10px;
        border: 3px solid transparent;
        border-image: linear-gradient(to right,  rgb(12, 14, 18), rgb(13, 70, 223)) 1;
        margin-bottom: 20px;
        transition: all .5s;
    }

    .barra__opciones ul li:hover{
        background: linear-gradient(to right,  rgb(12, 14, 18), rgb(13, 70, 223));
        cursor: pointer;
    }

    .barra__opciones:hover ul{
        margin-right: -10px;
    }


    .menu-responsive{
        display: block;
    }



    .cuerpo{
        margin: 4rem auto;
        width: 600px;
    }

    .parrafo{
        font-size: 15px;
    }

    .img_pie{
        font-size: 10px;
    }

    .cuerpo-contenido-texto__img{
        width: 300px;
    }
    .img-contenido{
        width: 100%;
    }



}



/*
/* Responsive del footer y las sombras/formas
*/

@media screen and (max-width: 660px) { 
    header{
        position: fixed;
        z-index: 500;
    }

    .barra__opciones{
        margin-right: -500px;
        width: 140px;
        z-index: 500;
    }

     .barra-centro__nombre{
        font-size: 4.6vw;
    }




    .cuerpo-contenido-cabeza__h1{
        font-size: 50px;
    }

    .cuerpo-contenido-cabeza__h2{
        font-size: 20px;
    }

    .cuerpo{
        margin: 10rem auto;
        width: 500px;
    }

    .parrafo{
        font-size: 15px;
    }

    .img_pie{
        font-size: 10px;
    }
    

    .cuerpo-contenido-texto__img{
        width: 250px;
    }
    .img-contenido{
        width: 100%;
    }





    .pie__contenido{
        font-size: 15px;
        display: flex;
        width: 100vw;
        margin-left: 60px;
    }

    .links{
        margin-left: 0px;
    }

}


/* Más responsive
*/

@media screen and (max-width: 550px) {

    .barra__opciones{
        margin-right: -400px;
        width: 140px;
        z-index: 500;
    }

    .sub-titulo-h3, .nombre-titulo{
        margin-top: -15px;
    }

    .pie__contenido{
        font-size: 12px;
        display: flex;
        margin-left: 40px;
    }



    .cuerpo-contenido-cabeza__h1{
        width: 100%;
        text-align: center;
        font-size: 50px;
    }

    .cuerpo-contenido-cabeza__h2{
        width: 100%;
        text-align: center;
        font-size: 20px;
    }

    .cuerpo{
        margin: 10rem auto;
        width: 400px;
    }

    .parrafo{
        font-size: 13px;
    }
    .img_pie{
        font-size: 8px;
    }

    .cuerpo-contenido-texto__img{
        width: 200px;
    }


}

/* Más responsive
*/

@media screen and (max-width: 414px) {

    .barra__opciones{
        margin-right: -270px;
        width: 130px;
        z-index: 500;
    }

    .nombre-titulo{
        display: inline;

    }


    .cuerpo-contenido-cabeza__h1{
        width: 100%;
        text-align: center;
        font-size: 40px;
    }

    .cuerpo-contenido-cabeza__h2{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }

    .cuerpo{
        margin: 10rem auto;
        width: 350px;
    }


    .cuerpo-contenido-texto__img{
        width: 170px;
    }



}
