body{
    font-family: Arial, Helvetica, sans-serif;
    background: radial-gradient(rgb(39, 44, 53), rgb(12, 14, 18));
    color: rgb(112, 112, 112);
}







.barra{
    position: relative;
    width: 100.7%;
    height: 4.375rem;
    background-color: rgb(12, 14, 18);
    align-items: center;
    justify-content: space-between;
    display: flex;
    z-index: 100;
    margin-top: -0.4375rem;
    margin-left: -0.4375rem;
}

.barra-sombra{
    position: absolute;
    width: 99.8%;
    height: 4.5rem;
    margin-top: -4.375rem;
    margin-left: -0.5rem;
    z-index: 90;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgb(13, 70, 223));
}


  
  header :any-link {
    text-decoration: none;
  }
  
  header :any-link:hover {
    text-decoration: underline;
  }
  
  

.barra__izquierda{
    display: flex;
    align-items: center;
    width: 50vw;
    height: 4.375rem;
    margin: 0;
    margin-left: 2rem;
}

.barra-izquierda__nombre{
    font-size: 30px;
    min-width: 200px;
    margin: 0;
}
.barra-izquierda__link{
    color:rgb(112, 112, 112);
}



.barra__opciones{
    margin-right: -50px;
    width: 30vw;
    display: flex;
    justify-content: flex-end;
}

.barra__opciones a{
    color:rgb(112, 112, 112);
    margin-left: 1.5vw;
    font-size: 15px;
}



.barra__derecha{
    width: 20vw;
    display: flex;
    margin-right: 10px;
    width: 5vw;
}


.perfil__img{
    align-items: center;
    width: 3.3rem;
    height: 3.3rem;
    border-radius: 50% ;
    object-fit: cover;
}


/* .barra-izquierda__menu{
    margin-left: 20px;
    cursor: pointer;
} */












.cuerpo{
    margin: 5rem auto;
    width: 750px;
}


.cuerpo-contenido__cabeza{
    align-items: center;
    height: 10rem; 
}

.cuerpo-contenido-cabeza__h1{
    font-size: 4rem;
    margin: 0;
}

.cuerpo-contenido-cabeza__h2{
    margin:0;
}

.parrafo{
    margin-bottom: 50px;
    line-height: 25px;
}


.cuerpo-contenido-texto__img{
    border-radius: 10px;
    width: 300px;
    float: right;

}

.cuerpo-contenido-texto-centro__img{
    border-radius: 10px;
    margin-top: 40px;
    width: 750px;
}

.img_pie{
    margin-top: 0;
    font-size: 14px;
}


.link-referencia{
    color:  rgb(13, 70, 223);
}



li{
    margin-top: 20px;
}

.secciones-li{
    margin-top: 70px;
}

.habilidades-tecnicas__div{
    display: flex;
}

.parrafo_4{
    margin-top: 50px;

}

.parrafo3_experiencias{
    display: flex;
    align-items: center;
}


.parrafo3_experiencias h4{
    width: 250px;
}






.pie{
    height: 10rem;
    width: 100.6%;
    background-color: rgb(12, 14, 18);
    margin-bottom: -5px;
    margin-top: 10rem;
    display: flex;
    align-items: center;
}
.pie__contenido{
   display: flex;
   margin-left: 10rem;
   align-items: center;
}

.links{
    margin-left: 7rem;
}

.link-contacto{
    position: relative;
    margin: 10px;
} 

.link-contacto a{
    color:rgb(112, 112, 112);
}
